/* ---------------------------------------- 默认css针对16:9标准比例屏幕微信----------------------------------------*/
html,body,article{
	position: fixed;
	padding: 0;
	margin: 0;
	height: 100%!important;
    width: 100%;
	overflow: hidden;
	-webkit-text-size-adjust:100%!important;
}
.none{
	display: none;
}
.hide{
	opacity: 0;
}
a{
	cursor: pointer;
}
a, a:visited{
	color: #fff;
}
section{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top:0;
    left: 0;
    z-index: 3;
}
aside{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 19;
    background-color: rgba(0,0,0,0.85);
}
.full{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img{
	/* pointer-events: none; */
}
/* public end */

#questionBox .qsBox{
	position: absolute;
	bottom: 1.5rem;
	left: 50%;
	width: 6.27rem;
	height: 2.26rem;
	margin-left: -3.14rem;
}
#questionBox .qsBox .btn{
	float: left;
	width: 50%;
	height: 1rem;
	margin-top: 0.8rem;
}
#qsBg{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 7.5rem;
	height: 18rem;
	transform: translate(-50%, -50%);
	background: url(../images/q1/0.jpg) no-repeat;
	background-size: 100%;
}
#qsBg img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
#myVideo{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 7.5rem;
	height: 18rem;
	/* object-fit: cover;
	object-position: center center; */
}
/*video默认全屏按钮*/
video::-webkit-media-controls-fullscreen-button{ display: none !important; }

/*video默认aduio音量按钮*/
video::-webkit-media-controls-mute-button { display: none !important;}

/*video默认setting按钮*/
video::-internal-media-controls-overflow-button{ display: none !important;}

/*禁用video的controls（要慎重！不要轻易隐藏掉，会导致点击视频不能播放）*/
video::-webkit-media-controls {
	display:none !important;
}

/*腾讯云点播禁用firefox全屏、设置按钮*/
.trump-button[sub-component="fullscreen_btn"],.trump-button[now="fullscreen"]{ display:none!important;}
.trump-button[sub-component="setting"]{ display:none !important;}

.start{
	position: absolute;
	bottom: 1.5rem;
	left: 50%;
	width: 	2rem;
	height: 0.8rem;
	text-align: center;
	line-height: 0.8rem;
	background-color: #333;
	border-radius: 0.1rem;
	margin-left: -1rem;
	z-index: 9;
	color: #fff;
}
/* questionBox end */
/*---------------------------------------- 15:9 ----------------------*/

/*---------------------------------------- 16:9 ----------------------*/

/*---------------------------------------- 18:9 ----------------------*/
